{{#section 'head'}}
    <link type="text/css" rel="stylesheet" href="{{static '/css/index.css'}}">
{{/section}}
{{#section 'body'}}
    <div class="mobile-header">
        <button class="sidebar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="title">Blog</a>
    </div>
    <div class="main-container">
        <div class="sidebar ps-container ps-theme-default">
            <div class="header">
                <h1 class="title"><a href="">Blog</a></h1>
                <div class="info">
                    <div class="content">
                        <div class="author">Xu Duoduo</div>
                    </div>
                    <div class="avatar">
                        <a href=""><img src=""></a>
                    </div>
                </div>
            </div>
            <div class="body">
                <ul class="nav">
                    <li class="category-list-container">
                        <a href="javascript:;">Category</a>
                    </li>
                    <li class="tag-list-container">
                        <a href="javascript:;">Tag</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li>
                        <a href="" title="About">About</a>
                    </li>
                    <li>
                        <a href="" title="Github" target="_blank" rel="external">Github</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <div style="max-width: 1000px">
                <div class="post-list">
                    <div class="post-list-item article">
                        <h3 class="article-header">
                            <a href="">Images</a>
                        </h3>
                        <div class="article-info">
                            <a href=""><span class="article-date">2016-04-21</span></a>
                        </div>
                        <div class="article-entry" data-pswp-uid="1">
                            <p>This is a image test post.</p>
                            <figure class="article-gallery-img">
                                <a href="" title="">
                                    <img src="http://blog.sprabbit.com/hexo-theme-chan/assets/wallpaper-2572384.jpg" alt="">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="post-list">
                    <div class="post-list-item article">
                        <h3 class="article-header">
                            <a href="">
                                中文测试
                            </a>
                        </h3>
                        <div class="article-info">
                            <a href=""><span class="article-date">2013-12-24</span>
                            </a>
                        </div>
                        <div class="article-entry">
                            <p>This is a Chinese test post.</p>
                            <p>西周取代殷商，除了商纣暴虐无道，主要与其实行奴隶制经济制度有关。西周建立以后，为缓和生产关系与生产力的尖锐矛盾，缓和阶级斗争，变奴隶制为农奴制，正如王国维在《殷商制度论》中所言：“中国政治与文化之变革，莫剧于殷周之际……殷周间的三大变革，自其表而言之，不过一家一姓之兴亡，与都邑之转移。自其里言之，则旧制度废而新制度兴，旧文化废而新文化兴……”</p>
                            <p>西周取代殷商，除了商纣暴虐无道，主要与其实行奴隶制经济制度有关。西周建立以后，为缓和生产关系与生产力的尖锐矛盾，缓和阶级斗争，变奴隶制为农奴制，正如王国维在《殷商制度论》中所言：“中国政治与文化之变革，莫剧于殷周之际……殷周间的三大变革，自其表而言之，不过一家一姓之兴亡，与都邑之转移。自其里言之，则旧制度废而新制度兴，旧文化废而新文化兴……”</p>
                            <p>西周取代殷商，除了商纣暴虐无道，主要与其实行奴隶制经济制度有关。西周建立以后，为缓和生产关系与生产力的尖锐矛盾，缓和阶级斗争，变奴隶制为农奴制，正如王国维在《殷商制度论》中所言：“中国政治与文化之变革，莫剧于殷周之际……殷周间的三大变革，自其表而言之，不过一家一姓之兴亡，与都邑之转移。自其里言之，则旧制度废而新制度兴，旧文化废而新文化兴……”</p>
                            <p>Hello</p>
                            <blockquote>
                                <p>西周取代殷商，除了商纣暴虐无道，主要与其实行奴隶制经济制度有关。西周建立以后，为缓和生产关系与生产力的尖锐矛盾，缓和阶级斗争，变奴隶制为农奴制，正如王国维在《殷商制度论》中所言：“中国政治与文化之变革，莫剧于殷周之际……殷周间的三大变革，自其表而言之，不过一家一姓之兴亡，与都邑之转移。自其里言之，则旧制度废而新制度兴，旧文化废而新文化兴……”</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <a class="page-number" href="">1</a>
                    <a class="page-number" href="">2</a>
                    <a class="extend next" rel="next" href="">Next</a>
                </div>
                <div class="main-footer">© 2016 - Xuduoduo</div>
            </div>
        </div>
    </div>
{{/section}}
